<!--address-starts-->
<div class="address">
  <div class="container">
    <div class="address-top">
      <div class="col-md-4 add-left">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <p><label>ssef</label>
          Kampala, Bukoto
          Namuli, Plot 40</p>
      </div>
      <div class="col-md-4 add-left">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <p>+256 757-112376</p>
      </div>
      <div class="col-md-4 add-left">
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <p><a href="mailto:example@email.com">info.mail@ssef.com</a></p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--address-end-->
