<!--footer-starts-->
<div class="footer">
  <div class="container">
    <div class="footer-top">
      <p>© 2016 Silas Shyaka Education Fund. All Rights Reserved | Design by  <a href="#" target="_blank">The Rails Shop</a> </p>
      <a href="#home" class="scroll"><%= image_tag('top-arrow.png') %></a>
    </div>
  </div>
</div>
<!--footer-end-->