<!--about-starts-->
<div class="about">
  <div class="container">
    <div class="about-top heading">
      <h2>Donate</h2>
    </div>
    <div class="about-bottom">
      <div class="col-md-5 about-left">
        <%= image_tag("d.jpg") %>
      </div>
      <div class="col-md-7 about-right">
        <h4>Make a donation</h4>

        <p>All SSEF projects and activities are audited by a volunteer and an audit report is presented to the board who
          then publish it for all members, beneficiaries and the general public. An external audit of all the fund’s
          activities is carried out once a year which report is also shared with all members and the public after board
          acceptance and approval.</p>

        <p style="margin-bottom: 10px;color: #99cc99;">Payment methods</p>

        <div class="row">
          <div class="col-xs-6 col-md-4" style="color:#999;text-align: center;">
            <a href="#" class="thumbnail">
              <%= image_tag("mm.jpg") %>
            </a>
            +256 77X-XXXX
          </div>
          <div class="col-xs-6 col-md-4" style="color:#999;text-align: center;">
            <a href="#" class="thumbnail">
              <%= image_tag("atm.jpg") %>
            </a>
            +256 757-112376
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--about-end-->