<!--donors-starts-->
<div class="team">
  <div class="container">
    <div class="team-top heading">
      <h2>Our Donors</h2>
    </div>
    <div class="chief-donors">
      <h4>Chief Donors</h4>
    </div>

    <div class="team-bottom">

      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t2.jpg", :alt => "t2") %>
          <div class="team-text">
            <h5>Linda K Rubaire </h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t1.jpg", :alt => "t1") %>
          <div class="team-text">
            <h5>Alex N Shyaka</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t3.jpg", :alt => "t3") %>
          <div class="team-text">
            <h5>Mbanda Shyaka</h5>
          </div>
        </a>
      </div>
      <div class="col-md-3 team-left wow bounceIn animated" data-wow-delay=".5s" style="visibility: visible; -webkit-animation-delay: .5s;">
        <a href="#">
          <%= image_tag("t4.jpg", :alt => "t4") %>
          <div class="team-text">
            <h5>Fiona Kemigisha</h5>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
<!--donors-end-->
